body {
  background: #6B7E8D;
  font-family: "Arial";
}

.main-container {
  width: 960px;
  padding: 20px;
  margin: 100px auto;
  background: #f5f5f5;
  box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.74);
  -webkit-box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.74);
}

.code {
  margin: 10px;
  padding: 10px;
  background: lightblue;
  color: #4f6a81;
}

button {
  background: goldenrod;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  text-transform: uppercase;
}
button:hover {
  background: #eeb821;
}